body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  color: #333;
  background-image: repeating-linear-gradient(
    45deg,
    #fdfdfd,
    #fdfdfd 20px,
    #f3f3f3 20px,
    #f3f3f3 40px
  ); /* textura tipo líneas diagonales suaves */
}

.navbar {
  background-color: #ffffffd0;
  border-bottom: 1px solid #ddd;
}

.nav-links li a {
  color: #333;
}

.nav-links li a:hover {
  color: #ff6a00;
}

.logo {
  color: #ff6a00;
}

.logo span {
  color: #333;
}

.hero {
  background: linear-gradient(to bottom right, #ff6a00, #ffa040);
  color: white;
}

.section.dark {
  background-color: #ffffff;
}

.section.light {
  background-color: #fafafa;
}

.section h2 {
  color: #ff6a00;
}

.btn,
.btn-outline {
  color: white;
  background-color: #ff6a00;
  border: none;
}

.btn:hover,
.btn-outline:hover {
  background-color: #e85a00;
}
